
:root{
  --main-text-color : #9597A5;
  --main-title-color : #2D314D;
  --link-color:linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

/* public-sans-100 - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 100;
  src: url("../fonts/public-sans-v13-latin-100.woff2") format("woff2"),
  url("../fonts/public-sans-v13-latin-100.woff") format("woff");
}

/* public-sans-regular - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 400;
  src: url("../fonts/public-sans-v13-latin-regular.woff2") format("woff2"),
  url("../fonts/public-sans-v13-latin-regular.woff") format("woff");
}
/* public-sans-500 - latin */
@font-face {
  font-family: "Public Sans";
  font-weight: 500;
  src: url("../fonts/public-sans-v13-latin-500.woff2") format("woff2"),
  url("../fonts/public-sans-v13-latin-500.woff") format("woff");
}

/* GENERAL */

*{
  box-sizing: border-box;
}

html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Public Sans", "Arial", sans-serif;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow-x: hidden;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.site-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 3;
}

.header-info{
  display: flex;
  max-width: 1536px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  color: #2D314D;
}

.navigation{
  display: inline-block;
  max-width: 331px;
  margin: 0 20px;
  margin-right: auto;
  margin-left: auto;
}

.navigation__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 0;
  background-color: transparent;
  list-style: none;
}

.navigation__item{
  position: relative;
  z-index: 1;
  padding: 32px 0;
}

.navigation__item:not(:last-child){
  margin-right: 30px;
}

.navigation__link{
  display: block;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.107692px;
  color: #9597A5;
  text-decoration: none;
  transition: 0.3s ease;
}

.navigation__link:hover{
  color: var(--main-title-color);
  border-color: #30C88f;
}

.navigation__link::after{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  pointer-events: none;
  content: "";
}

.navigation__link:hover::after{
  background-image: var(--link-color);
}

.main-link{
  display: inline-block;
  padding: 8px 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  background: var(--link-color);
  border-radius: 22px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.header-btn{
  display: none;
  width: 24px;
  height: 11px;
  background-image: url("../images/burger.svg");
  background-color: transparent;
  border: none;
}

.main-link:hover{
  opacity: 0.4;
}

.hero{
  position: relative;
  padding-top: 322px;
  padding-bottom: 88px;
  background-image: url("../images/hero-bg-img.svg");
  background-repeat: no-repeat;
  background-size: 963px 403px;
  background-position: calc(50% + 40px) calc(50% - 340px);
}

.hero-info__wrapper{
  max-width: 327px;
  text-align: center;
}

.hero-info__title{
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 100;
  font-size: 34px;
  line-height: 47px;
  text-align: center;
  letter-spacing: -0.714286px;
  color: var(--main-title-color);
}

.hero-info__text{
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.234375px;
  color: var(--main-text-color);
}

.hero-bg-img{
  position: absolute;
  top: -95px;
  left: -8px;
  right: 0;
  max-width: 327px;
  height: 100%;
  margin: 0 auto;
  background-image: url("../images/hero-phones-mobile.svg");
  background-size: contain;
  background-repeat: no-repeat;

}

.hero-info__wrapper .main-link{
  display: inline-block;
}

.hero-bg-img__tel{
  display: none;
}

.choose{
  padding-top: 96px;
  padding-bottom: 94px;
  background-color:#F4F5F7;
}

.choose-us{
  max-width: 635px;
}

.choose-us__title{
  margin: 0 0 16px 0;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
  color: var(--main-title-color);
}

.choose-us__text{
  margin-bottom: 72px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.28125px;
  color: var(--main-text-color);
}

.choose-list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.choose-list__item{
  max-width: 255px;
}

.choose-list__item:not(:last-child){
  margin-right: 30px;
}

.choose-list__item::before{
  display: block;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
}

.choose-list__item:nth-child(1):before{
  background-image: url("../images/banking.svg");
}

.choose-list__item:nth-child(2):before{
  background-image: url("../images/budjet.svg");
}

.choose-list__item:nth-child(3):before{
  background-image: url("../images/onboarding.svg");
}

.choose-list__item:nth-child(4):before{
  background-image: url("../images/api.svg");
}

.choose-list___title{
  margin-top: 40px;
  margin-bottom: 26px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.428571px;
  color: var(--main-title-color);
}

.choose-list__text{
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.25px;
  color: var(--main-text-color);
}

.articles{
  padding: 80px 0;
  background-color: #f2f2f2;
}

.articles__title{
  margin-bottom: 40px;
  font-weight: 100;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.714286px;
}

.articles__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.articles__item{
  max-width: 255px;
  background-color: #fff;
}

.articles__item:not(:last-child){
  margin-right: 30px;
}


.articles__item::before{
  display: block;
  margin-bottom: 25px;
  max-width: 255px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.articles__item:nth-child(1)::before{
  background-image: url("../images/recieve-money.jpg");
}

.articles__item:nth-child(2)::before{
  background-image: url("../images/treat.jpg");
}

.articles__item:nth-child(3)::before{
  background-image: url("../images/flying.jpg");
}

.articles__item:nth-child(4)::before{
  background-image: url("../images/invite-only.jpg");
}

.articles__wrapper{
  padding: 0 24px 24px 24px;
}

.articles__strong{
  display: block;
  margin-bottom: 8px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: -0.15625px;
  color: var(--main-text-color);
}

.articles__link{
  font-weight: 100;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.285714px;
  color: var(--main-title-color);
  text-decoration: none;
  transition: 0.3s ease;
}

.articles__link:hover{
  color: #30C88F;
}

.articles__text{
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.203125px;
  color: var(--main-text-color);
}


.site-footer{
  width: 100%;
  padding: 48px 0;
  background-color: var(--main-title-color);
}

.footer-info{
  display: flex;
  align-items: center;
}

.footer-info__nav{
  margin-right: 132px;
}

.footer-logo{
  margin-bottom: 55px;
  color:#fff;
}

.footer-info__list{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info__item:not(:last-child){
  margin-right: 13px;
}

.icon-bg-color{
  color: #fff;
  transition: 0.3s ease;
}

.icon-bg-color:hover{
  color: #30C88f;
}

.footer-info__lists{
  min-width: 160px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}

.footer-info__list--mr{
  margin-right: 30px;
}

.footer-info__items:not(:last-child){
  margin-bottom: 16px;
}

.footer-info__link{
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.234375px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.footer-info__link:hover{
  color: #30C88f;
}

.ft-info-linkbox{
  width: 158px;
  margin-left: auto;
  margin-bottom: 24px;
  background-color: #fff;
  border-radius: 22px;
}

.footer-info__sp{
  display: block;
  font-size: 15px;
  line-height: 26px;
  text-align: right;
  letter-spacing: -0.234375px;
  color: #FFFFFF;
  opacity: 0.5;
}

@media only screen and (min-width:375px){

  .ft-info-linkbox{
    max-width: 160px;
  }

  .main-link--ft{
    max-width: 136px;
    padding: 7px 32px;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
  }

  .hero{
    background-position: calc(50% + 40px) calc(50% - 240px);
  }

  .hero-info__wrapper{
    margin: 0 auto;
  }

  .hero-info__title{
    font-size: 40px;
    line-height: 47px;
  }

}

@media only screen and (min-width:601px){

  .main-link{
    padding: 8px 30px;
    font-size: 15px;
    line-height: 25px;
  }

  .hero{
    padding-top: 386px;
    background-image: url("../images/hero-bg-img.svg");
    background-size: 1061px 740px;
    background-position: calc(50% + 70px) calc(50% - 330px);
  }

  .hero-info__wrapper{
    max-width: 400px;
  }

  .hero-info__title{
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 42px;
    line-height: 47px;
  }

  .hero-info__text{
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 25px;
  }

  .hero-bg-img{
    top: -66px;
    max-width: 390px;
  }

}

@media only screen and (min-width:768px){

  .main-link{
    padding: 8px 33px;
    font-size: 14px;
    line-height: 26px;
  }

  .hero{
    padding-top: 420px;
    background-size: 1300px 860px;
  }

  .hero-info__wrapper{
    max-width: 470px;
  }

  .hero-info__title{
    margin-bottom: 20px;
    font-weight: 100;
    font-size: 49px;
    line-height: 49px;
  }

  .hero-info__text{
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  .hero-bg-img{
    max-width: 440px;
    top: -86px;
  }
}

@media only screen and (max-width:1024px){

  .site-header{
    max-width: 1024px;
  }

  .container{
    padding: 0 40px;
  }

  .navigation{
    display: block;
  }

  .logo__img{
    width: 120px;
  }

  .navigation__item{
    padding: 22px 0;
  }

  .navigation__item:not(:last-child){
    margin-right: 23px;
  }

  .navigation__link{
    font-size: 12px;
    line-height: 15px;
  }

  .main-link{
    padding: 6px 27px;
    font-size: 12px;
    line-height: 22px;
  }

  .header-btn{
    display: none;
  }

  .choose-list{
    flex-direction: column;
  }

  .choose-list{
    flex-direction: row;
    align-items: flex-start;
  }

  .choose-list__item:not(:last-child){
    margin-right: 20px;
  }

  .articles__box{
    max-width: 257px;
    margin: 0 auto;
  }

  .articles__list{
    margin: 0 auto;
    flex-direction: column;
  }

  .articles__item{
    display: flex;
    align-items: center;
    max-width: 510px;
  }

  .articles__wrapper{
    max-width: 255px;
  }

  .articles__item::before{
    width: 255px;
    margin-bottom: 0;
  }

  .articles__item:not(:last-child){
    margin-right: 0;
    margin-bottom: 32px;
  }

  .footer-info__link {
    font-size: 14px;
    line-height: 20px;
  }

  .ft-info-linkbox{
    text-align: right;
    width: 131px;
  }

  .footer-info__sp {
    font-size: 13px;
    line-height: 16px;
  }
}
@media only screen and (max-width:910px){

  .site-header{
    max-width: 910px;
  }

  .container{
    padding: 0 30px;
  }

  .navigation{
    display: block;
  }

  .header-btn{
    display: none;
  }

  .choose-us, .articles__box{
    max-width: 420px;
    margin: 0 auto;
    text-align: center;
  }

  .choose-us__title, .articles__title{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.571429px;
  }

  .choose-us__text{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.234375px;
  }

  .choose-list{
    flex-direction: column;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
  }

  .choose-list__item{
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  .choose-list__item:not(:last-child){
    margin-right: 0;
    margin-bottom: 32px;
  }

  .choose-list__item::before{
    left: 0;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .choose-list__box{
    max-width: 295px;
  }

  .choose-list___title {
    margin-top: 0;
    margin-bottom: 26px;}

    .articles__list{
      margin: 0 auto;
      flex-direction: column;
    }

    .articles__item{
      max-width: 327px;
    }

    .articles__item::before{
      margin-bottom: 0;
    }

    .articles__item:not(:last-child){
      margin-right: 0;
      margin-bottom: 32px;
    }

    .articles__item{
      display: flex;
      align-items: center;
      max-width: 510px;
    }

    .articles__wrapper{
      max-width: 255px;
    }

    .footer-info{
      flex-direction: column;
      align-items: center;
    }

    .footer-logo{
      margin-bottom: 32px;
    }

    .footer-info__nav{
      margin-right: 0;
      margin-bottom: 34px;
    }

    .footer-info__list--mr{
      margin-right: 0;
      margin-bottom: 8px;
    }

    .footer-info__lists{
      display: flex;
      justify-content: center;
      max-width: 500px;
      margin-right: 0;
      text-align: center;

    }

    .footer-info__items{
      max-width: 160px;
    }

    .footer-info__items:not(:last-child){
      margin-right: 10px;
      margin-bottom: 0px;
    }

    .footer-info__end{
      margin-top: 32px;
    }
    .footer-info__end{
      text-align: center;
    }
    .footer-info__end .ft-info-linkbox{
      margin: 0 auto;
      margin-bottom: 16px;
    }
    .ft-info-linkbox .main-link{
      display: block;
    }
  }


  @media only screen and (max-width:650px){


    .navigation__item{
      padding: 21px 0;
    }

    .navigation__item:not(:last-child){
      margin-right: 16px;
    }

    .header-btn{
      display: none;
    }


    .choose-list__item{
      flex-direction: row;
    }
  }

  @media only screen and (max-width:375px){

    .site-header--open .navigation{
      display: block;
    }
    .site-header--open .navigation__list{
      max-width: 260px;
    }

    .footer-info__lists{
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .footer-info__items{
      margin-right: 0;
    }

    .footer-info__items:not(:last-child){
      margin-right: 0;
    }

    .footer-info__end{
      margin-top: 32px;
    }
  }

  @media only screen and (max-width:601px){

    .site-header{
      position: relative;
      padding: 22px 0;
    }

    .navigation{
      display: none;
      position: absolute;
      top: 75px;
      left: 0;
      right: 0;
      z-index: 1;
      margin: 0 auto;
    }

    .site-header--open .navigation{
      display: block;
    }

    .navigation__list{
      display: block;
      flex-direction: column;
      text-align: center;
      max-width: 320px;
      padding:32px 100px;
      margin: 0 auto;
      background-color: #FFFFFF;
    }

    .site-header--open .navigation{
      display: inline-block;
    }

    .navigation__item{
      padding: 0;
    }

    .navigation__item:not(:last-child){
      margin-right: 0px;
      margin-bottom: 24px;
    }

    .navigation__link{
      font-size: 18px;
      line-height: 21px;
      letter-spacing: -0.138462px;
      color: var(--main-title-color);
    }

    .main-link{
      display: none;
    }

    .header-btn{
      display: block;
    }
    .site-header--open .header-btn{
      width: 18px;
      height: 18px;
      background-image: url("../images/close-icon.svg");
    }

    .choose-us, .articles__box{
      max-width: 420px;
      margin: 0 auto;
      text-align: center;
    }

    .choose-us__title, .articles__title{
      font-size: 32px;
      line-height: 38px;
      letter-spacing: -0.571429px;
    }

    .choose-us__text{
      font-size: 15px;
      line-height: 25px;
      letter-spacing: -0.234375px;
    }

    .choose-list{
      max-width: 260px;
      flex-direction: column;
      text-align: center;
    }

    .choose-list__item{
      display: block;
      flex-direction: row;
    }

    .choose-list__item:not(:last-child){
      margin-right: 0;
      margin-bottom: 32px;
    }

    .choose-list__item::before{
      display: block;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      margin-bottom: 24px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      content: "";
    }

    .articles__list{
      margin: 0 auto;
      flex-direction: column;
    }

    .articles__item{
      max-width: 327px;
      display: block;
    }

    .articles__item:not(:last-child){
      margin-right: 0;
      margin-bottom: 32px;
    }

    .footer-info{
      flex-direction: column;
      align-items: center;
    }

    .footer-logo{
      margin-bottom: 32px;
    }

    .footer-info__nav{
      margin-right: 0;
      margin-bottom: 34px;
    }

    .footer-info__list--mr{
      margin-right: 0;
      margin-bottom: 8px;
    }

    .footer-info__lists{
      margin-right: 0;
      text-align: center;
    }

    .footer-info__items:not(:last-child){
      margin-bottom: 8px;
    }

    .footer-info__end{
      text-align: center;
    }
    .footer-info__end .ft-info-linkbox{
      margin: 0 auto;
      margin-bottom: 16px;
    }
    .ft-info-linkbox .main-link{
      display: block;
    }

  }

  @media only screen and (min-width: 1025px){

    .main-link--ft{
      max-width: 170px;
    }

    .hero{
      padding-top: 230px;
      padding-bottom: 170px;
      background-size: 1200px 892px;
      background-position: calc(50% + 535px) calc(50% - 26px);
    }

    .hero-info{
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      overflow-x: hidden;
    }

    .hero-info__wrapper{
      margin-left: 0;
      text-align: left;
    }

    .hero-info__title{
      text-align: left;
    }

    .hero-bg-img{
      background-image: none;
    }

    .hero-bg-img__tel{
      position: absolute;
      display: block;
      max-width: 728px;
      height: 900px;
      top: calc(50% - 297px);
      left: calc(50% + 110px);
    }
  }
